<?xml version="1.0"?>
<!-- Nodo de lanzamiento para el nodo de movimiento del robot Kinova. 
 Este nodo se encargará de recibir las coordenadas objetivo y enviar los comandos 
 necesarios al robot para alcanzar esa posición. Se pueden configurar parámetros como 
 el tipo de robot, la unidad de medida y el nivel de verbosidad a través de los parámetros del nodo. -->
<launch>
    <node name="kinova_move"
          pkg="statemachine"
          type="move_node_api_kinova.py"
          output="screen">
        <param name="kinova_robotType" value="m1n6s300"/>
        <param name="unit" value="mq"/>
        <param name="verbose" value="false"/>
    </node>
</launch>