<?xml version="1.0"?>
<launch>
      <arg name="py_path" default="python3" />

    <node name="segmentation_node" 
          pkg="statemachine" 
          type="segmentation_node_gazebo.py" 
          output="screen"
          launch-prefix="$(arg py_path)" />
    
    <!-- <node name="transformer_node"
          pkg="statemachine"
          type="transformer_node_gazebo.py"
          output="screen" /> -->
</launch>